html{
	font-size: 100%;
}
body{
	background-color: white;
	font-family: 'Roboto', sans-serif;
	position: relative;
	margin:0;
}
#containerNav{
	width:0;
	height:100vh;
	position: absolute;
	top:0;
}
#navBar{
	top:0;
	z-index: 9999;
	position: absolute;
	background-color: white;
	color: #292929ff;
	width: 80%;
	height: 102%;
	left: -80%;
	z-index: 9999;
	padding: 1vh 0 1vh 0;
}
#navBar>a{
	text-decoration: none;
}
#navBar>a>div{
	font-size:1rem;
	padding: 2vh 5vw 2vh 12vw;
	color: #292929ff;
}
#animal-cell:hover, #plant-cell:hover, #about-us:hover, #resources:hover {
	cursor: pointer;
}
#plant-cell{
	border-bottom: 0.1rem solid #fcf9f7ff;
}
#about-us{
	margin-top: 1vh; 
	background-color: #fcf9f7ff;
}
#menu{
	margin-left: 6.5%;
	margin-top: 6%;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: row;
}
#menu>span{
	display: inline-block;
	padding-left: 1.2rem;
	font-size: 1.1rem;
	color: white;
}
#navBarIcon{
	width: 1.5rem;
}

/** MAIN CONTENT **/
#background{
	width: 100%;
	height: 100vh;
	background: url('../img/texture-bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#tresMarias{
	width: 80%;
}
#messages{
	margin: 0 3vw 0 3vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#carl, #ella, #hoebe{
	font-style: italic;
	color: white;
	line-height: 1.4;
	font-size: 0.95rem;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	width:81%;
}
#carl p, #ella p, #hoebe p{
	margin:0.5vh 1vw ;
}
#carl p>span, #special{
	font-style: normal;
}
.header{
	color: white;
	border: 0.1rem solid white;
	width: 80%;
	text-align: center;
	margin-bottom: 1vh;
}
.max-height{
	max-height: 7rem;
}
.no-max-height{
	max-height: 0rem;
}
.header>p{
	margin:0.5vh 0 0.5vh 0;
}
footer{
	color: #292929ff;
	font-size: 0.95rem;
	margin: 3vh 3vw 3vh 3vw;
}
footer a{
	text-decoration: none;
	color: #2ba8a8ff;
}
footer>div{
	margin: 1vh 0 1vh 0;
}
#desktop-screen{
	display: none;
}
@media screen and (min-width: 1000px){
	#desktop-screen{
		display: block;
	}
	#desktop-vr{
		display: block;
		background: url('../svg/misc/bg.svg');
		width: 100%;
		height: 100vh;
		background-attachment: fixed;
		background-size: cover;
		background-position: center;
	}
	#background,#menu{
		display: none;
	}
	#menu-desktop{
		width: 100%;
		height: 3rem;
		position: sticky;
		top: 0;
		background-color: white;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: center;
		color: #292929ff;
		box-shadow: 0 0.05rem 0.4rem 0.1rem rgba(105,105,105,0.45);
		z-index: 99999;
	}
	#menu-desktop>span{
		display: inline-block;
		margin: 0 1.5rem;
		height: 80%;
		text-align: center;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		letter-spacing: 0.05rem;
		cursor: pointer;
		transition: 0.3s;
		padding:0 0.2rem;
	}
	#menu-desktop>span>a{
		text-decoration: none;
		color: #292929ff;
	}
	#active{
		border-bottom: 0.25rem solid #2ba8a8ff;
	}
	#dead{
		border-bottom: 0.25rem solid white;
	}
	#menu-desktop>span:hover{
		background-color: #fcf9f7ff;
		transition: 0.3s; 
	}
	#wrapper{
		height: 90%;
		display: grid;
		grid-template-columns: 40% 55%;
		grid-column-gap: 5%;
		margin: 0 3rem;
	}
	#flex{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#flex>img{
		width: 87%;
	}
	#soc-med{
		color: #292929ff;
		font-size: 2rem;
		position: absolute;
		bottom: 0;
	}
	#soc-med>i{
		margin:0 1rem;
	}
	#soc-med>i:hover{
		cursor: pointer;
	}
	#grid{
		margin-top: 3rem;
		display: grid;
		grid-template-rows: 50% 40%;
	}
	#up-grid{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.imahe{
		width: 32%;
	}
	#up-grid i{
		color: #292929ff;
		font-size: 4rem;
		transition: 0.2s;
	}
	#left{
		margin-right: 3rem;
	}
	#right{
		margin-left: 3rem;
	}
	#left:hover, #right:hover{
		color: #2ba8a8ff;
		transition: 0.2s;
		cursor: pointer;
	}
	#messages-desktop>div>h1, #messages-desktop>div>h2, #messages-desktop>div>p{
		margin:0;
	}
	#messages-desktop{
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}
	#messages-desktop>div>h1, footer>span{
		letter-spacing: 0.3rem;
		font-size: 1.5rem;
		color: #2ba8a8ff;
	}
	#messages-desktop>div>h2{
		font-size: 0.8rem;
		letter-spacing: 0.2rem;
	}
	#messages-desktop>div>p{
		font-size: 1rem;
		font-style: italic;
		margin-top: 0.5rem;
	}
	.choose-ur-fighter{
		width: 60%;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	.hide-text{
		display: none;
	}
	.show-text{
		display: flex;
	}
	#dont-sue-us-pls{
		width: 100%;
		height: 90vh;
		color: #292929ff;
	}
	footer>div{
		margin: 1.3rem 0;
	}
	footer{
		display: grid;
		grid-template-columns: 50% 50%;
	}

}