html{
	font-size: 100%;
}
body{
	margin: 0;
	background-color: white;
	font-family: 'Roboto', sans-serif;
}
/**menu tab**/
#menu{
	width: 100%;
	height: 3rem;
	position: sticky;
	top: 0;
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
	color: #292929ff;
	box-shadow: 0 0.05rem 0.4rem 0.1rem rgba(105,105,105,0.45);
}
#menu>span{
	display: inline-block;
	margin: 0 1.5rem;
	height: 80%;
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.05rem;
	padding:0 0.2rem;
}
#menu>span>a{
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	letter-spacing: 0.05rem;
	text-decoration: none;
	color: #292929ff;
	width: 100%;
	height: 100%;
}
#active{
	border-bottom: 0.25rem solid #2ba8a8ff;
}
.dead{
	border-bottom: 0.25rem solid white;
}
#menu>span:hover{
	background-color: #fcf9f7ff;
	transition: 0.3s; 
}

/** gallery **/
#gallery-container{
	margin: 2rem 5rem;
	height: calc(100vh - 7rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#gallery-container_grid{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	grid-template-rows: 50% 50%;
	height: 100%;
	width: 100%;
}
#gallery-container_grid>div, #img-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#gallery-container_grid>div>img{
	width: 75%;
}
body{
	position: relative;
}
#box, #img-container{
	width: 100%;
	height: 100vh;
	background-color: #000000e0;
	z-index: 999;
	position: absolute;
	top:0;
	left: 0;
}
#img-container{
	background-color: transparent;
}
#img-container_img{
	width: 80%;
	animation-name: spoopyEntrance;
	animation-duration: 0.3s;
}
@keyframes spoopyEntrance{
	0% {transform: scale(0)};
	100% {transform: scale(1);}
}
#img-container>div{
	width: 30%;
	height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#img-container>div>p{
	text-align: center;
	color: white;
	animation-name: sloosh;
	animation-duration: 0.3s;
	position: relative;
	font-style: italic;
}
@keyframes sloosh{
	0% {top: -8rem;}
	100%{top: 0;}
}
.hide{
	display: none;
}
.show, .show-text{
	display: block;
}
#rate-box{
	background-color: #2ba8a8ff;
	padding: 2rem 3rem;
	color: white;
}
#rate-box_content>span{
	font-size: 1.2rem;
	letter-spacing: 0.3rem;
}
#rate-box_content>p{
	font-size: 1rem;
	margin:0;
}
#rate-box_content_checklist{
	height: 4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}
#rate-box_content_checklist>div{
	display: inline-block;
	margin: 0 0.5rem;
}

/** alert **/
.alert-container {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 999;
}
.hide-alert{
	display: none;
}
.alert{
	color: white;
	font-size: 0.9rem;
	font-family:  'Roboto', sans-serif;
	width: 18rem;
	margin: 1rem;
	padding: 0.7rem;
	opacity: 1;
	transition: opacity 0.6s;
}
.alert>h1{
	font-style: strong;
	font-size: 16px;
	padding: 0;
	margin: 0;
}
.para {
	margin: 0;
	padding: 0;
}
.success{
	background-color: #3eab29;
}
.red, .error {
	background-color: #da0e0e;
}
.grey, .note {
	background-color: #2ba8a8ff;
}
.text{
	margin-top: 0px;
	padding-left: 20px;
	margin: 5%;
	font-color: black;
	font-size: 18px;
}
.close-alert{
	font-size: 22px;
	margin-top: 5px;
	margin-left: 276px;
	top: 0;
	right: 0;
	cursor: pointer;
	float: right;
	line-height: 10px;
	transition: 0.3s;
}
