body{
	margin: 0;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	position: relative;
	overflow: hidden;
}
#containerNav{
	width:0;
	height:100vh;
	position: absolute;
	top:0;
}
#navBar{
	top:0;
	z-index: 9999;
	position: absolute;
	background-color: white;
	color: #292929ff;
	width: 80%;
	height: 100vh;
	left: -80%;
	z-index: 9999;
	padding: 1vh 0 1vh 0;
}
#navBar ul{
	padding: 0;
	margin: 0;
}
#navBar>a{
	text-decoration: none;
}
#navBar>a>div{
	font-size:5vw;
	padding: 2vh 5vw 2vh 12vw;
	color: #292929ff;
}
#about-us{
	position: absolute;
	bottom: 0;	
}
#animal-cell{
	background-color: #fcf9f7ff; 
}
#navBar>ul>li{
	list-style-type: none;
	line-height: 1;
	font-size:5vw;
	padding: 2vh 5vw 2vh 12vw;
}
#navBar > ul > li > a{
	text-decoration: none;
	color: #292929ff;
}
#navBar>ul>li:first-child{
	border-top: 2px solid #fcf9f7ff;
}
#navBar>ul> li:last-child{
	border-bottom: 2px solid #fcf9f7ff;
}
#navBar ul > li:hover{
	background-color: #f9d74aff;
	transition: 0.4s;
}
#navBar ul > li:hover a{
	color: #292929ff;
}
#menu{
	margin-left: 6.5%;
	margin-top: 4%;
	position: absolute;
	top: 0;
}
#menu > a{
	text-decoration: none;
	color: #292929ff;
	padding: 0 2vw;
}
#menu > a:first-child{
	padding:0
	width: 10px;
}
#navBarIcon{
	width: 7vw;
}

/** MAIN CONTENT **/
#image-container{
	width:100vw;
	height: 100vh;
	position: relative;
}
#image{
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#animal-cell-img{
	width: 100%;
}