body{
	background-color: white;
	font-family: 'Roboto', sans-serif;
	position: relative;
	overflow: hidden;
}
#containerNav{
	width:0;
	height:100vh;
	position: absolute;
	top:0;
}
#navBar{
	top:0;
	z-index: 9999;
	position: absolute;
	background-color: white;
	color: #292929ff;
	width: 80%;
	height: 100%;
	left: -80%;
	z-index: 9999;
	padding: 1vh 0 1vh 0;
}
#navBar ul{
	padding: 0;
	margin: 0;
}
#navBar>a{
	text-decoration: none;
}
#navBar>a>div{
	font-size:5vw;
	padding: 2vh 5vw 2vh 12vw;
	color: #292929ff;
}
#animal-cell{
	background-color: #fcf9f7ff; 
}
#navBar>ul>li{
	list-style-type: none;
	line-height: 1;
	font-size:5vw;
	padding: 2vh 5vw 2vh 12vw;
	cursor: pointer;
}
#navBar > ul > li > a{
	text-decoration: none;
	color: #292929ff;
}
#navBar>ul>li:first-child{
	border-top: 2px solid #fcf9f7ff;
}
#navBar>ul> li:last-child{
	border-bottom: 2px solid #fcf9f7ff;
}
#navBar ul > li:hover{
	background-color: #f9d74aff;
	transition: 0.4s;
}
#navBar ul > li:hover a{
	color: #292929ff;
}
#menu{
	margin-left: 6.5%;
	margin-top: 4%;
	position: absolute;
	top: 0;
}
#menu > a{
	text-decoration: none;
	color: #292929ff;
	padding: 0 2vw;
}
#menu > a:first-child{
	padding:0
	width: 10px;
}
#navBarIcon{
	width: 7vw;
}

/** MAIN CONTENT **/
#image-container{
	width:100vw;
	height: 100vh;
	position: relative;
	transition: 0.5s;
}
#image{
	padding: 0 3vw 0 3vw;
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#animal-cell-img{
	width: 100%;
}
.show-container,.show-text{
	display: block;
}
.hide-container,.hide-text{
	display: none;
}
#img-text-container{
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-rows: 70% auto;
	padding: 2vh 3vw 2vh 3vw;
	transition: 0.5s;
	overflow: scroll;
}
#img-part-parent{
	margin: 0 0 1vh 0;
	overflow: hidden;
}
#img-part{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: 100%;
	transition: 0.5s;
}
#text-part{
	background-color: red;
	padding: 1vh 1vw 1vh 1vw;
}
.ribosome{
	position: relative;
	transform: scale(6);
	bottom: 90%;
    left: -90%;
}
.nucleus{
	transform: scale(5);
}
.smooth-endoplasmic-reticulum{
	position: relative;
    transform: scale(3.5);
    top: 20%;
    left: -100%;
 }
 .rough-endoplasmic-reticulum{
 	position: relative;
    transform: scale(3.2);
    bottom: 52%;
    left: -75%;
 }
 .vacuole{
    position: relative;
    transform: scale(4.5);
    top: 70%;
    left: -60%;
 }
 .mitochondrion{
 	position: relative;
    transform: scale(3.3);
    top: 50%;
    left: 40%;
}

.golgi-apparatus{
    position: relative;
    transform: scale(3.3);
    left: 75%;
    bottom: 60%;
 }
 .lysosome{
    position: relative;
    transform: scale(7.5);
    bottom: 60%;
    left: 250%;
 }
.peroxisome{
    position: relative;
    transform: scale(6);
    left: 190%;
 }
 #text-part-parent{
 	border: 1px solid #fcf9f7ff;
 }
 .text-part>h2{
 	text-align: center;
 	font-size: 7vw;
 	letter-spacing: 0.1em;
 	font-weight: 700;
 	font-style: italic;
 	margin:0;
}
.text-part>p{
	margin: 1vh 0;
	line-height: 1.4;
}