@font-face{
	src: url(fonts/Anton/Anton-Regular.tff);
	font-family:Anton;
}
@font-face{
	src: url(fonts/Roboto-Black.tff);
	font-family: Roboto;
}
body{
	font-family: Roboto;
	background-color: #f1aa7eff;
	overflow: hidden;
}
	/** animation **/
.floating{
	margin-top: 3vh;
}
.floating img{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.floating{
	animation-name: floating-cell;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes floating-cell{
	from {transform:translate(0,-5px);}
	65% {transform:translate(0,10px);}
	to {transform:translate(0,-5px);}
}

.shadow{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	height: 50px;
	background-color: #1d5c5eff;
	animation-name: spooky-shadow;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	border-radius: 50%;
}

@keyframes spooky-shadow{
	from {transform: scaleX(0.5);}
	65% {transform: scaleX(0.85);}
	to {transform: scaleX(0.5);}
}
	/** ********* **/
.cell{
	margin-top: 2vh;
}
.floating img{
	width: 60%;
}
.shadow{
	width:40%;
}
.lumpia-wrapper{
	font-size: 4.6vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.log-in{
	margin: 2vh 0;
	width: 60%;
	background-color: white;
}
.box{
	padding: 1.3vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 1.5%;
}
span{
	padding: 0 0 0.8vh 0;
}
.pass{
	padding: 0.8vh 0 0 0;
	font-size:4vw;
}
@media screen and (min-width: 768px){
	.cell{
		margin-top: 4vh;
	}
	.floating img{
		width: 50%;
	}
	.shadow{
		width: 44%;
	}
	.lumpia-wrapper{
		font-size: 3vw;
	}
	.pass{
		font-size:2.3vw;
	}
}

@media screen and (min-width: 1024px){
	.lumpia-wrapper{
	padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
	}
	.cell, .log-in{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.box{
		background-color: white;
		padding: 10px;
		border-radius: 2%;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.box > .input-group{
		width: 100%;
	}
	span{
		display: block;
		font-size: 1.5vw;
		padding: 0 0 1vh 0;
	}
	.btn{
		background-color: #4fadafff;
		border-radius: 1%;
		width: 100%;
	}
	.pass {
		padding: 1.2vh 0 0 0;
		font-size: 1vw;
	}
	a{
		text-decoration: none;
		color: #1f5c5eff;
	}
	a:hover{
		text-decoration: underline;
		color: #0d393aff;
	}
}

	
